@model List<ApiMovieViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Film Adı</th>
            <th>Puanı</th>
            <th>Film Görseli</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.rank</td>
                <td>@item.title</td>
                <td>@item.rating</td>
                <td>@item.image</td>
            </tr>
        }
    </table>
</div>